@import url(../../../stylesheets/application.css);
@import url(../../alternate/stylesheets/application.css);

body { color: #222; }

a, a:link, a:visited { color: #647028; text-decoration: none; }
a:hover, a:active { color: #d60a5c; text-decoration: none; }
#footer a { color: inherit; text-decoration: underline; }

#top-menu { background: #333; color: #fff; }
#header { background: #a1bb36; color: #3e4519; }
#header a { color: #3e4519; }
#main-menu li a { background: #3e4519; }
#main-menu li a:hover { background: #647028; text-decoration: none; }
#main-menu li a.selected, #main-menu li a.selected:hover { }

table.progress td.closed { background: #a1bb36; }
table.progress td.done { background: #b2c748; }
table.progress td.open { background: #eee; }
